{
  "module": {
    "type": "es6",
    "strict": false,
    "strictMode": false,
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "importMeta": true,
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  }
}
